
@font-face {
  font-family: 'Manrope Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope Pro Regular'), url('../fonts/manrope/Manrope-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Manrope Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope Pro Semibold'), url('../fonts/manrope/Manrope-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope Pro Bold'), url('../fonts/manrope/Manrope-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope Pro ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope Pro ExtraBold'), url('../fonts/manrope/Manrope-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Manrope Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Manrope Pro Medium'), url('../fonts/manrope/Manrope-Medium.woff') format('woff');
}
